@font-face {
    font-family: 'YuMincho';
    src: url('../fonts/yumin.ttf');
}
@font-face {
    font-family: 'YuMinchoDemi';
    src: url('../fonts/yumindb.ttf');
}
@font-face {
    font-family: 'Cambria';
    src: url('../fonts/Cambria.ttf');
}
@font-face {
    font-family: 'cambriab';
    src: url('../fonts/cambriab.ttf');
}
@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Black.ttf');
    src: url('../fonts/Cinzel-Bold.ttf');
    src: url('../fonts/Cinzel-ExtraBold.ttf');
    src: url('../fonts/Cinzel-Regular.ttf');
    src: url('../fonts/Cinzel-SemiBold.ttf');
}
